<div class="item-container">
    <div class="item-image" title="{{name}}">
        <img src="https://www.bungie.net{{icon}}" alt="{{name}}" {{#masterwork}}class="masterwork" {{/masterwork}} />
        <span class="top-right">{{powerLevel}}</span>
    </div>
    <div class="item-sockets">
        {{#perks}}
        <div class="item-socket">
            {{#choices}}
            <div class="socket-container" title="{{name}}">
                <img src="https://www.bungie.net{{icon}}" alt="{{name}}"/>
            </div>
            {{/choices}}
        </div>
        {{/perks}}
    </div>
</div>

