.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: bottom;
    transition: background 500ms ease;
    background-image: url(/black.png);
    padding-bottom: 15px;
}

.header > img {
    position: absolute;
    width: 0;
    height: 0;
}

.form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-container > div {
    display: flex;
}

input[type=text], .user {
    font-size: 20px;
    width: 250px;
    background-color: rgba(100, 100, 100, 0.5);
    border: none;
    padding: 6px;
    color: white;
    outline-color: white;
}

input[type=text]:focus, input[type=text]:hover, .user:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img, [type=radio] + i {
    cursor: pointer;
    filter: brightness(65%);
}

[type=radio]:checked + img, [type=radio]:checked + i {
    background-color: rgba(100, 100, 100, 0.4);
    border: white solid 2px;
    margin: 0;
    filter: brightness(100%);
}

.form-img {
    width: 50px;
    height: 50px;
    margin: 2px;
}

.platform-icon {
    font-size: 30px;
    padding: 10px;
    margin: 2px;
}

#username {
    margin: auto;
}