
.home {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.home > a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

.choose-class {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.choose-class .form-img {
    width: 100px;
    height: 100px;
}
