* {
    font-family: sans-serif;
}

html, body, #app {
    background-color: rgba(50, 50, 50, 1);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}

.settings-link {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.loading {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

.container-column {
    display: flex;
    flex-direction: column;
}
