* {
    font-family: sans-serif;
}

html, body, #app {
    background-color: rgba(50, 50, 50, 1);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 1);
    border-radius: 10px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 1);
}

.settings-link {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.loading {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

.container-column {
    display: flex;
    flex-direction: column;
}
