
.socket-container {
    display: inline-flex;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 50%;
    margin: 2px;
    background-color: rgba(25, 25, 25, 0.4);
}

img[alt$="Ammo Finder"] {
    background: 90% 100% no-repeat;
    background-size: 50%;
}

img[alt="Primary Ammo Finder"] {
    background-image: url(https://bungie.net/common/destiny2_content/icons/dc4bb9bcdd4ae8a83fb9007a51d7d711.png);
}

img[alt="Special Ammo Finder"] {
    background-image: url(https://bungie.net/common/destiny2_content/icons/b6d3805ca8400272b7ee7935b0b75c79.png);
}

img[alt="Heavy Ammo Finder"] {
    background-image: url(https://bungie.net/common/destiny2_content/icons/9fa60d5a99c9ff9cea0fb6dd690f26ec.png);
}

.socket-selected {
    background-color: rgb(72, 135, 186);
}

.socket-container > img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.perk-slot i {
    color: rgba(150, 150, 150, 1);
    font-size: 22px;
    padding: 1px;
}
