.result {
    flex: auto;
    overflow-y: auto;
}

.item-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
