* {
    font-family: sans-serif;
}

body {
    background-color: rgba(50, 50, 50, 1);
    color: white;
    margin: 0;
}

h1 {
    text-align: center;
}

.form-container, .form-container > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-entries {
    display: flex;
    justify-content: center;
}

.labels, .inputs {
    display: flex;
    flex-direction: column;
}

label, input, select {
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.submit {
    font-size: large;
}

iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 74%;
}
