body {
    background-color: black;
}

h1 {
    color: white;
}

.item-container {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

.item-container > img {
    border: 1px solid white;
}

.top-right {
    position: absolute;
    top: 1px;
    right: 1px;
    display: inline;
    padding: 3px;
    background-color: dimgrey;
    text-align: right;
    width: 25px;
}

.item-sockets {
    display: flex;
    flex-direction: row;
}

.item-socket {
    display: flex;
    flex-direction: column;
}

.socket-container {
    position: relative;
    display: inline-block;
    border: 1px solid #999999;
    border-radius: 50%;
    transform: scale(0.9);
}

.socket-container img {
    width: 30px;
    height: 30px;
    display: block;
}

