body {
    background-color: #414141;
}

h1 {
    color: white;
}

.item-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-container {
    display: flex;
    flex-direction: column;
    margin: 2px
}

.item-image {
    position: relative;
}

.item-image > img {
    border: 1px solid white;
}

.top-right {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 3px;
    background-color: dimgrey;
    text-align: right;
    width: 25px;
}

.item-sockets {
    display: flex;
    flex-direction: row;
}

.item-socket {
    display: flex;
    flex-direction: column;
}

.socket-container {
    display: inline-flex;
    border: 1px solid #999999;
    border-radius: 50%;
    margin: 2px;
}

.socket-container > img {
    width: 30px;
    height: 30px;
    padding: 2px;
}
