* {
    font-family: sans-serif;
}

body {
    background-color: rgba(50, 50, 50, 1);
    color: white;
}

h1 {
    text-align: center;
}

.form-container, .form-container > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-entries {
    display: flex;
    justify-content: center;
}

.labels, .inputs {
    display: flex;
    flex-direction: column;
}

label, input, select {
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.submit {
    font-size: large;
}

.item-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-container {
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
}

.item-image {
    position: relative;
    width: 100px;
    height: 100px;
}

.item-image > img {
    border: 2px solid white;
}

.top-right {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 70%);
    color: white;
    text-align: right;
    width: 50px;
}

.item-sockets {
    display: flex;
    flex-direction: row;
    background-color: rgba(100, 100, 100, 1);
    padding: 4px;
}

.item-socket {
    display: flex;
    flex-direction: column;
}

.socket-container {
    display: inline-flex;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 50%;
    margin: 2px;
    background-color: rgba(25, 25, 25, 1);
}

.socket-container > img {
    width: 30px;
    height: 30px;
    padding: 5px;
}
